# Logs
logs
*.log
npm-debug.log*

# compiled output
dist
node_modules
build
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
*.launch
.settings/
.turbo
*.sublime-workspace

# Tests
/coverage

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
