.seek-container {
    background-color: rgba(250, 235, 215, 0.5);
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid red;
    border-radius: 10px;
}

.seek-options {
    margin-bottom: 1rem;
}

.seek-form {
    & input {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.anthem-number {
    max-width: 2rem;
}