.anthem-container-page {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.piano {
  background-image: url("/app/1-21.jpg");
}

.waves {
  background-image: url("/app/35-45.jpg");
}